:root {
    /* bare rgb values so opacity can be layered in later*/
    --cream-1: 243, 241, 239;
    --cream-2: 242, 236, 231;
    --cream-3: 244, 238, 235;
    --light-brown-1: 134, 111, 81;
    --light-brown-2: 101, 74, 52;
    --red-brown-1: 120, 58, 30;
    --red-brown-2: 97, 45, 32;
    --dark-brown-1: 72, 47, 41;
    --dark-brown-2: 71, 36, 32;
    --dark-brown-3: 45, 30, 27;
    --green-1: 186, 228, 42;
    --green-2: 116, 148, 16;
    --green-3: 80, 128, 43;
    --green-4: 50, 98, 20;
    --green-5: 27, 74, 21;
    --blue-1: 89, 158, 241;
    --blue-2: 64, 135, 215;
    --yellow-1: 247, 190, 25;
    --yellow-2: 235, 179, 22;
    --wood-1: 199, 129, 89;

    /* defined semantic colors */
    --pane: rgb(var(--cream-1));
    --bg: rgb(var(--cream-2));
    --text: rgb(var(--dark-brown-3));
    --header: rgb(var(--dark-brown-2));
    --shadow: rgba(var(--dark-brown-3), 0.1);
    --link: rgb(var(--green-4));
    --link-visited: rgb(var(--green-5));
    --link-hover: rgb(var(--green-3));
    --link-active: rgb(var(--green-3));
    --highlight: rgba(var(--green-3), 0.1);
    --accent-brown: rgb(var(--red-brown-1));
    --accent-blue: rgb(var(--blue-2));
    --accent-yellow: rgb(var(--yellow-1));
    --accent-wood: rgb(var(--wood-1));

    --pane-width: 600px;
    --spine-width: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    font-size: 16px;
    font-family: 'Recursive Variable', system-ui, sans-serif; /* also update import in main.js if changing*/
    font-variation-settings: 'CASL' 0, 'MONO' 0, 'CRSV' 0, 'slnt' 0;

    /* 
CASL 0 formal <-> 1 casual 
MONO 0 proportional <-> 1 mono
CRSV 0 roman | 0.5 auto | 1 cursive
slnt 0 upright <-> -15 slant
*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

header {
    display: flex;
    padding: 12px 24px;
    /* height: 40px;  */

    a {
    text-decoration: none;
    }

    a:hover, a:active {
    box-shadow: 0 0 6px 6px var(--bg) inset;
}
    
}

.title {
    flex: 1;
    font-variation-settings: 'CASL' 0, 'MONO' 0, 'CRSV' 0, 'slnt' 0;
    font-weight: 500;
    text-transform: uppercase;
    /* font-variant-caps: small-caps;
    font-synthesis: small-caps; */

    a, a:visited, a:active {
        color: var(--text);
        text-decoration: none;
        background-color: none;
        box-shadow: none;
    }

    a:hover {
        color: var(--text);
        text-decoration: none;
        background-color: var(--bg);
    }
}

.tagline {
    flex: 1;
    text-align: center;
    /* font-weight: 350; */
    font-variation-settings: 'CASL' 1, 'MONO' 0, 'CRSV' 0, 'slnt' 0; 
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}


main {
    display: flex;
    overflow-x: auto;
    flex: 1;
    height: 0;
    align-items: stretch;
    justify-content: safe center;
}

.pane {
    width: var(--pane-width);
    flex-shrink: 0;
    overflow-y: auto;
    background-color: var(--pane);
    box-shadow: 0px 0px 8px var(--shadow);
    margin-top: 8px; /* allows shadow to cast upward "onto" header */
    min-height: calc(100% - 8px); /* subtracts shadow-margin from height so that pane doesn't overflow screen */
    padding: 32px;
    position: sticky; 
    left: 0;
}

.spine-0 { left: 0; }
.spine-1 { left: calc(1 * var(--spine-width)); }
.spine-2 { left: calc(2 * var(--spine-width)); }

p {
    margin-top: 0em;
    margin-bottom: 1em;
}

ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

ul li {
    margin-bottom: 0.5em;
}

ul li > p {
    margin-top: 0;
    margin-bottom: 0;
}

ul ul {
    margin-top: 0.5em;
}

a {
    text-decoration: underline;
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover, a:active {
    color: var(--link);
    background-color: var(--highlight);
    box-shadow: 0 0 6px 6px var(--pane) inset;
    border-radius: 3px;
    padding: 0 2px;
}
    


    /*
    a[href^="http"]::after {
    content: " ↗";
    }
    */


    h1 {
      font-size: 32px;
      font-weight: 600;
      font-variation-settings: 'CASL' 0.5, 'MONO' 0, 'CRSV' 0, 'slnt' 0;
      margin-top: 0px;
      margin-bottom: 16px;
      color: inherit;
    }

    h1::after {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    background: var(--daisy-gold);
    margin-top: 0.5rem;
    }

    h2 {
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0.014%;
      font-weight: normal;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    h2::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: var(--daisy-gold);
    margin-top: 0.5rem;
}   


    hr {
      margin-top: 2em;
      margin-bottom: 1em;
      height: 1px;
      border: none;
      background-color: var(--horizontal-rule);
    }

    pre {
      font-size: 13px;
      line-height: 17px;
      overflow-x: auto;
      background-color: var(--inset);
      padding: 4px;
    }

    img {
      max-width: 100%;
      /* max-height: 500px; */
      object-fit: contain;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    blockquote {
      margin-top: 1rem;
      margin-left: 0;
      padding: 1.25rem 1.25rem;
      border-left: 3px solid var(--green-2);
      border-radius: 0 6px 6px 0;
    }
