:root {
    /* bare rgb values so opacity can be layered in later*/
    --cream-1: rgb(243, 241, 239);
    --cream-2: rgb(242, 236, 231);
    --cream-3: rgb(244, 238, 235);
    --light-brown-1: rgb(134, 111, 81);
    --light-brown-2: rgb(101, 74, 52);
    --red-brown-1: rgb(120, 58, 30);
    --red-brown-2: rgb(97, 45, 32);
    --dark-brown-1: rgb(72, 47, 41);
    --dark-brown-2: rgb(71, 36, 32);
    --dark-brown-3: rgb(45, 30, 27);
    --green-1: rgb(186, 228, 42);
    --green-2: rgb(116, 148, 16);
    --green-3: rgb(80, 128, 43);
    --green-4: rgb(50, 98, 20);
    --green-5: rgb(27, 74, 21);
    --blue-1: rgb(89, 158, 241);
    --blue-2: rgb(64, 135, 215);
    --yellow-1: rgb(247, 190, 25);
    --yellow-2: rgb(235, 179, 22);
    --wood-1: rgb(199, 129, 89);

    /* defined semantic colors */
    --pane: var(--cream-1);
    --bg: var(--cream-1);
    --text: var(--dark-brown-3);
    --header: var(--cream-2);
    --shadow: rgba(45, 30, 27, 0.1);
    --link: var(--green-4);
    --link-visited: var(--green-5);
    --link-hover: var(--green-3);
    --link-active: var(--green-3);
    --highlight: rgba(80, 128, 43, 0.2);
    --accent-brown: var(--red-brown-1);
    --accent-blue: var(--blue-2);
    --accent-yellow: var(--yellow-1);
    --accent-wood: var(--wood-1);
 
    --pane-padding: 32px;
    --pane-width: min(600px, 100vw);  
    --spine-width: 16px;
 
    --casl: 0;
    --mono: 0;
    --crsv: 0;
    --slnt: 0;
    --wght: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Recursive Variable', system-ui, sans-serif; /* also update import in main.js if changing*/
    font-variation-settings: 'CASL' var(--casl), 'MONO' var(--mono), 'CRSV' var(--mono), 'slnt' var(--slnt), 'wght' var(--wght);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.5;
    font-size: 20px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

em, i {
    --slnt: -14;
}

strong, b {
    --wght: 700;
}


header {
    display: flex;
    padding: 12px 24px;

    a {
    text-decoration: none;
    }

    a:hover, a:active {
    box-shadow: 0 0 6px 6px var(--bg) inset;
}
    
}

.title {
    flex: 1;
    --wght: 600;
    text-transform: uppercase;

    a, a:visited, a:active {
        color: var(--text);
        text-decoration: none;
        background-color: none;
        box-shadow: none;
    }

    a:hover {
        color: var(--text);
        text-decoration: none;
        background-color: var(--bg);
    }
}

.tagline {
    flex: 1;
    text-align: center;
    --casl: 1;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}


main {
    display: flex;
    overflow-x: auto;
    flex: 1;
    height: 0;
    align-items: stretch;
    justify-content: safe center; /* so the centering only happens until the viewport is full*/
    isolation: isolate; /* so the z-index updating doesn't spill out of the container*/
}

.pane {
    width: var(--pane-width);
    flex-shrink: 0;
    overflow-y: auto;
    background-color: var(--pane);
    padding: var(--pane-padding);
    scrollbar-width: none;
    position: sticky; 
    left: 0;
    right: 0; 
    --shadow-left: 0 0 0 transparent;
    --shadow-right: 0 0 0 transparent;
    box-shadow: var(--shadow-left), var(--shadow-right);
}

.spine-left-0 { left: 0; }
.spine-left-1 { left: calc(1 * var(--spine-width)); }
.spine-left-2 { left: calc(2 * var(--spine-width)); }

.spine-right-0 { right: 0; }
.spine-right-1 { right: calc(1 * var(--spine-width)); }
.spine-right-2 { right: calc(2 * var(--spine-width)); }

.overlappingLeft  { --shadow-left:  -8px 0 8px -8px var(--shadow); }
.overlappingRight { --shadow-right:  8px 0 8px -8px var(--shadow); }

.spine-left-2.stuckLeft   { --shadow-left:  0 0 0 transparent; }
.spine-right-2.stuckRight { --shadow-right: 0 0 0 transparent; }

@media (max-width: 650px) {
    main {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .pane {
        position: static;
        width: 100%;
        overflow-y: visible;
    }
}

img { margin: 0.5em; }

figure { margin-bottom: 1em; }

figcaption { 
    text-align: center; 
    font-size: 14px;
}

.note-footer::before {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    background: var(--accent-wood) ;
    margin-top: 0.5rem;
    margin: 0.5rem auto 0;
} 

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.thumbnail {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


p {
    margin-top: 0em;
    margin-bottom: 1em;
}

ul, ol {
    margin-top: 0em;
    margin-bottom: 0em;
    list-style-position: inside;
}

li {
    margin-bottom: 0.5em;
}

li > p {
    margin-top: 0;
    margin-bottom: 0;
}

:is(ul, ol) :is(ul, ol) {
    margin-top: 0.5em;
}

a {
    text-decoration: underline;
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover, a:active {
    color: var(--link);
    background-color: var(--highlight);
    box-shadow: 0 0 6px 6px var(--pane) inset;
    border-radius: 3px;
    padding: 0 2px;
}

a[href^="http"]::after {
content: " ↗";
}


h1 {
    font-size: 32px;
    --casl: 0.3;
    --wght: 500;
    margin-top: 0px;
    margin-bottom: 16px;
    color: inherit;
}

h2 {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.014%;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h2::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: var(--accent-wood);
    margin-top: 0.5rem;
}  

hr {
    margin-top: 2em;
    margin-bottom: 1em;
    height: 1px;
    border: none;
    background-color: var(--accent-wood);
}

pre {
    font-size: 13px;
    line-height: 17px;
    overflow-x: auto;
    background-color: var(--inset);
    padding: 4px;
}

img {
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    margin-top: 1rem;
    margin-left: 0;
    padding: 1.25rem 1.25rem;
    border-left: 3px solid var(--green-2);
    border-radius: 0 6px 6px 0;
}
